<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <style>
        div#successMessage {
            top: 2px;
        }
    </style>
    {% for message in app.flashes('success') %}

        <div class="callout callout-success" id="successMessage">
            {#<h4>succées !</h4>#}

            <p> {{ message }}</p>
        </div>

    {% endfor %}
    
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('bower_components/jquery/dist/jquery.min.js')}}"></script>
<script>
    setTimeout(function () {
        $('#successMessage').fadeOut('slow');
    }, 2000);
</script>
</body>
</html>
