
<div class="modal fade" id="modal-add-artilce">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ajouter un Article</h4>
            </div>
            <div class="modal-body">
                <form action="{{ path('add-article') }}" method="POST" enctype="multipart/form-data" id="modal-add-artilce">  

                    <div class="form-group">
                        <label >Titre</label>
                        <input type="text" name="title" id="title" class="form-control" placeholder="Enter Titre">
                    </div>

                    <div class="form-group">
                        <label >Contenu</label>
                       
                        <textarea class="form-control" rows="6" id="contenuMessage" name="contenuMessage" placeholder="Enter Votre contenu"></textarea>
                    </div>
                    <div class="form-group">
                        <label >Photo</label>
                        <div class="input-group control-group after-add-more">
                            <input type="file" name="file_photo[]" id="file_photo" class="form-control" placeholder="Enter Name Here">

                            <div class="input-group-btn"> 
                                <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Ajouter</button>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">

                        <input type="submit" class="btn btn-primary"></input>
                    </div>
                </form>
                <div class="copy hide">
                    <div class="control-group input-group" style="margin-top:10px">
                        <input type="file" name="file_photo[]" id="file_photo" class="form-control" placeholder="Enter Name Here">

                        <div class="input-group-btn"> 
                            <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
 <script src="{{ asset('bower_components/ckeditor/ckeditor.js')}} "></script>
<script type="text/javascript">
  CKEDITOR.replace('contenuMessage');
</script>
